// 使用 Simple Sharp Script (sss) 编写的 MiluIsGod 脚本
// 作者：SALTWOOD
// 日期：2024-7-9 22:05
// 版本：1.0.0-final

define function int Main()
{
    while (true)
    {
        Console.Print("米露是神！");
    }
    return 0;
}